In [1]:
import pandas as pd

In [6]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [7]:
type(sectors)

pandas.core.groupby.DataFrameGroupBy

## The `.groupby()` Method

In [8]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

## Retrieve A Group with the `.get_group()` Method

In [39]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

## Methods on the Groupby Object and `DataFrame` Columns

In [51]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [58]:
sectors.get_group("Apparel")["Profits"].sum()

8236

In [59]:
sectors.max()
sectors.min()
sectors.sum()
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [67]:
sectors["Revenue"].sum()
sectors["Employees"].sum()
sectors["Profits"].max()
sectors["Profits"].min()
sectors["Employees"].mean()

sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

## Grouping by Multiple Columns

In [69]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby(["Sector", "Industry"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [73]:
sectors.size()
sectors.sum()
sectors["Revenue"].sum()
sectors["Employees"].mean()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                              48402.850000
Apparel                     Apparel                                            23093.133333
Business Services           Advertising, marketing                             62050.000000
                            Diversified Outsourcing Services                   50595.000000
                            Education                                          15585.000000
                            Financial Data Services                            13943.473684
                            Miscellaneous                                      12573.333333
                            Temporary Help                                     12004.000000
                            Waste Management                                   23839.800000
Chemicals                   Chemicals                                          15455.033333
Energy                      Energy                                              5005.142857
                            Mining, Crude-Oil Production                        5325.357143
                            Miscellaneous                                       6700.000000
                            Oil and Gas Equipment, Services                    25088.333333
                            Petroleum Refining                                 14404.705882
                            Pipelines                                           6011.750000
                            Utilities: Gas and Electric                        10249.487805
Engineering & Construction  Engineering, Construction                          26293.142857
                            Homebuilders                                        3217.000000
Financials                  Commercial Banks                                   54965.142857
                            Diversified Financials                             21940.933333
                            Insurance: Life, Health (Mutual)                    5880.100000
                            Insurance: Life, Health (stock)                    11235.166667
                            Insurance: Property and Casualty (Mutual)          19021.142857
                            Insurance: Property and Casualty (Stock)           28361.535714
                            Real estate                                        10705.266667
                            Securities                                          7940.333333
Food and Drug Stores        Food and Drug Stores                               93026.533333
Food, Beverages & Tobacco   Beverages                                          22123.000000
                            Food Consumer Products                             33271.950000
                                                                                  ...
Materials                   Metals                                             13825.642857
                            Miscellaneous                                         52.000000
                            Packaging, Containers                              20840.375000
Media                       Entertainment                                      21309.111111
                            Publishing, Printing                               23821.428571
Motor Vehicles & Parts      Motor Vehicles and Parts                           45106.666667
Retailing                   Automotive Retailing, Services                     17497.400000
                            General Merchandisers                             340810.000000
                            Specialty Retailers: Apparel                       42807.944444
                            Specialty Retailers: Other                         44619.333333
Technology                  Computer Peripherals                               43814.750000
                            Computer Software                                  27771.142857
                            Computers, Office Equipment                        66869.285714
                            Information Technology Services                    75818.384615
                            Internet Services and Retailing                    28723.666667
                            Network and Other Communications Equipment         21379.285714
                            Scientific,Photographic and Control Equipment      19291.750000
                            Semiconductors and Other Electronic Components     26065.391304
Telecommunications          Telecommunications                                 55497.866667
Transportation              Airlines                                           43511.222222
                            Mail, Package, and Freight Delivery               332137.500000
                            Miscellaneous                                       4200.000000
                            Railroads                                          24368.800000
                            Transportation Equipment                           11945.200000
                            Transportation and Logistics                       24938.200000
                            Trucking, Truck Leasing                            18939.555556
Wholesalers                 Miscellaneous                                       9200.000000
                            Wholesalers: Diversified                            9353.240000
                            Wholesalers: Electronics and Office Equipment      20832.625000
                            Wholesalers: Food and Grocery                      19317.500000
Name: Employees, dtype: float64

## The `.agg()` Method

In [78]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [80]:
sectors["Employees"].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [83]:
sectors.agg({"Revenue" : ["sum", "mean"],
             "Profits" : "sum",
              "Employees" : "mean"})

                              Revenue               Profits     Employees
                                  sum          mean     sum          mean
Sector
Aerospace & Defense            357940  17897.000000   28742  48402.850000
Apparel                         95968   6397.866667    8236  23093.133333
Business Services              272195   5337.156863   28227  26687.254902
Chemicals                      243897   8129.900000   22628  15455.033333
Energy                        1517809  12441.057377  -73447   9745.303279
Engineering & Construction     153983   5922.423077    5304  15642.615385
Financials                    2217159  15950.784173  260209  24172.287770
Food and Drug Stores           483769  32251.266667   16759  93026.533333
Food, Beverages & Tobacco      555967  12929.465116   51417  28177.488372
Health Care                   1614707  21529.426667  106114  35710.520000
Hotels, Resturants & Leisure   169546   6781.840000   20697  99369.800000
Household Products             234737   8383.464286   14428  23072.785714
Industrials                    497581  10816.978261   20764  33591.934783
Materials                      259145   6026.627907    4428  14840.069767
Media                          220764   8830.560000   24347  22012.560000
Motor Vehicles & Parts         482540  20105.833333   25898  45106.666667
Retailing                     1465076  18313.450000   47830  77845.362500
Technology                    1377600  13505.882353  180473  35087.735294
Telecommunications             461834  30788.933333   48637  55497.866667
Transportation                 408508  11347.444444   44169  42688.694444
Wholesalers                    444800  11120.000000    8233  13139.925000

In [82]:
sectors.agg(["size", "sum", "mean"])

                             Revenue                        Profits          \
                                size      sum          mean    size     sum
Sector
Aerospace & Defense               20   357940  17897.000000      20   28742
Apparel                           15    95968   6397.866667      15    8236
Business Services                 51   272195   5337.156863      51   28227
Chemicals                         30   243897   8129.900000      30   22628
Energy                           122  1517809  12441.057377     122  -73447
Engineering & Construction        26   153983   5922.423077      26    5304
Financials                       139  2217159  15950.784173     139  260209
Food and Drug Stores              15   483769  32251.266667      15   16759
Food, Beverages & Tobacco         43   555967  12929.465116      43   51417
Health Care                       75  1614707  21529.426667      75  106114
Hotels, Resturants & Leisure      25   169546   6781.840000      25   20697
Household Products                28   234737   8383.464286      28   14428
Industrials                       46   497581  10816.978261      46   20764
Materials                         43   259145   6026.627907      43    4428
Media                             25   220764   8830.560000      25   24347
Motor Vehicles & Parts            24   482540  20105.833333      24   25898
Retailing                         80  1465076  18313.450000      80   47830
Technology                       102  1377600  13505.882353     102  180473
Telecommunications                15   461834  30788.933333      15   48637
Transportation                    36   408508  11347.444444      36   44169
Wholesalers                       40   444800  11120.000000      40    8233

                                          Employees
                                     mean      size      sum          mean
Sector
Aerospace & Defense           1437.100000        20   968057  48402.850000
Apparel                        549.066667        15   346397  23093.133333
Business Services              553.470588        51  1361050  26687.254902
Chemicals                      754.266667        30   463651  15455.033333
Energy                        -602.024590       122  1188927   9745.303279
Engineering & Construction     204.000000        26   406708  15642.615385
Financials                    1872.007194       139  3359948  24172.287770
Food and Drug Stores          1117.266667        15  1395398  93026.533333
Food, Beverages & Tobacco     1195.744186        43  1211632  28177.488372
Health Care                   1414.853333        75  2678289  35710.520000
Hotels, Resturants & Leisure   827.880000        25  2484245  99369.800000
Household Products             515.285714        28   646038  23072.785714
Industrials                    451.391304        46  1545229  33591.934783
Materials                      102.976744        43   638123  14840.069767
Media                          973.880000        25   550314  22012.560000
Motor Vehicles & Parts        1079.083333        24  1082560  45106.666667
Retailing                      597.875000        80  6227629  77845.362500
Technology                    1769.343137       102  3578949  35087.735294
Telecommunications            3242.466667        15   832468  55497.866667
Transportation                1226.916667        36  1536793  42688.694444
Wholesalers                    205.825000        40   525597  13139.925000

## Iterating through Groups

In [84]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [86]:
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [87]:
for sector, data in sectors:
    highest_revenue_company_in_group = data.nlargest(1, "Revenue")
    df = df.append(highest_revenue_company_in_group)

In [88]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114.0,5176.0,161400.0
91,Nike,Apparel,Apparel,"Beaverton, OR",30601.0,3273.0,62600.0
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330.0,419.0,27000.0
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778.0,7685.0,49495.0
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204.0,16150.0,75600.0
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114.0,413.0,38758.0
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821.0,24083.0,331000.0
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290.0,5237.0,199000.0
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702.0,1849.0,32300.0
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241.0,1476.0,70400.0
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413.0,4529.0,420000.0
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756.0,7036.0,110000.0
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389.0,-6126.0,333000.0
126,Alcoa,Materials,Metals,"New York, NY",22534.0,-322.0,60000.0
53,Disney,Media,Entertainment,"Burbank, CA",52465.0,8382.0,185000.0
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356.0,9687.0,215000.0
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130.0,14694.0,2300000.0
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715.0,53394.0,110000.0
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801.0,13345.0,281450.0
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363.0,4844.0,341240.0
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681.0,687.0,51700.0

In [89]:
cities = fortune.groupby("Location")
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [90]:
for city, data in cities:
    highest_revenue_in_city = data.nlargest(1, "Revenue")
    df = df.append(highest_revenue_in_city)

In [91]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661.0,4423.0,74000.0
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443.0,307.0,66000.0
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895.0,1278.0,19550.0
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541.0,95.0,10500.0
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052.0,181.0,22408.0
915,Domino’s Pizza,"Hotels, Resturants & Leisure",Food Services,"Ann Arbor, MI",2217.0,193.0,11900.0
596,Colfax,Industrials,Industrial Machinery,"Annapolis Junction, MD",3967.0,168.0,17087.0
215,Land O’Lakes,"Food, Beverages & Tobacco",Food Consumer Products,"Arden Hills, MN",13161.0,308.0,10000.0
190,AES,Energy,Utilities: Gas and Electric,"Arlington, VA",14963.0,306.0,21000.0
31,IBM,Technology,Information Technology Services,"Armonk, NY",82461.0,13190.0,411798.0
28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519.0,7009.0,385000.0
310,Autoliv,Motor Vehicles & Parts,Motor Vehicles and Parts,"Auburn Hills, MI",9170.0,457.0,59350.0
304,Hormel Foods,"Food, Beverages & Tobacco",Food Consumer Products,"Austin, MN",9264.0,686.0,20700.0
181,Whole Foods Market,Food and Drug Stores,Food and Drug Stores,"Austin, TX",15389.0,536.0,76300.0
668,PolyOne,Chemicals,Chemicals,"Avon Lake, OH",3378.0,145.0,6900.0
573,T. Rowe Price,Financials,Securities,"Baltimore, MD",4201.0,1223.0,5999.0
420,Baxalta,Health Care,Pharmaceuticals,"Bannockburn, IL",6149.0,956.0,17000.0
624,Albemarle,Chemicals,Chemicals,"Baton Rouge, LA",3651.0,335.0,6963.0
207,Kellogg,"Food, Beverages & Tobacco",Food Consumer Products,"Battle Creek, MI",13525.0,614.0,33577.0
91,Nike,Apparel,Apparel,"Beaverton, OR",30601.0,3273.0,62600.0
147,Paccar,Motor Vehicles & Parts,Motor Vehicles and Parts,"Bellevue, WA",19115.0,1604.0,23000.0
645,Regal Beloit,Industrials,"Electronics, Electrical Equip.","Beloit, WI",3510.0,143.0,26200.0
134,Whirlpool,Industrials,"Electronics, Electrical Equip.","Benton Harbor, MI",20891.0,783.0,97000.0
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130.0,14694.0,2300000.0
594,Ametek,Technology,"Scientific,Photographic and Control Equipment","Berwyn, PA",3974.0,591.0,15400.0
60,Lockheed Martin,Aerospace & Defense,Aerospace and Defense,"Bethesda, MD",46132.0,3605.0,126000.0
399,Cablevision Systems,Telecommunications,Telecommunications,"Bethpage, NY",6510.0,175.0,13549.0
366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246.0,-33.0,12200.0
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674.0,1062.0,23916.0
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674.0,1062.0,23916.0
...,...,...,...,...,...,...,...
120,Raytheon,Aerospace & Defense,Aerospace and Defense,"Waltham, MA",23247.0,2074.0,61000.0
850,United Refining,Energy,Petroleum Refining,"Warren, PA",2470.0,82.0,2997.0
431,Zimmer Biomet Holdings,Health Care,Medical Products and Equipment,"Warsaw, IN",5998.0,147.0,17500.0
16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359.0,10954.0,7300.0
542,Keurig Green Mountain,"Food, Beverages & Tobacco",Beverages,"Waterbury, VT",4520.0,498.0,6000.0
898,MPM Holdings,Chemicals,Chemicals,"Waterford, NY",2289.0,-83.0,5000.0
874,Granite Construction,Engineering & Construction,"Engineering, Construction","Watsonville, CA",2371.0,61.0,3200.0
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895.0,46.0,5480.0
240,Toys “R” Us,Retailing,Specialty Retailers: Other,"Wayne, NJ",11802.0,-130.0,62000.0
785,B/E Aerospace,Aerospace & Defense,Aerospace and Defense,"Wellington, FL",2730.0,286.0,10057.0
383,AK Steel Holding,Materials,Metals,"West Chester, OH",6693.0,-509.0,8500.0
829,Platform Specialty Products,Chemicals,Chemicals,"West Palm Beach, FL",2542.0,-309.0,8200.0
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902.0,-47.0,3448.0
456,Ingredion,"Food, Beverages & Tobacco",Food Production,"Westchester, IL",5621.0,402.0,11500.0
439,TravelCenters of America,Retailing,Specialty Retailers: Other,"Westlake, OH",5851.0,28.0,18450.0
396,Terex,Industrials,Construction and Farm Machinery,"Westport, CT",6543.0,146.0,20400.0
847,ITT,Industrials,Industrial Machinery,"White Plains, NY",2486.0,352.0,9700.0
389,Spirit AeroSystems Holdings,Aerospace & Defense,Aerospace and Defense,"Wichita, KS",6644.0,789.0,15200.0
849,Tops Holding,Food and Drug Stores,Food and Drug Stores,"Williamsville, NY",2472.0,-62.0,14800.0
674,Westinghouse Air Brake Technologies,Industrials,Industrial Machinery,"Wilmerding, PA",3308.0,399.0,13000.0
101,DuPont,Chemicals,Chemicals,"Wilmington, DE",27940.0,1953.0,52000.0
607,Fastenal,Retailing,Specialty Retailers: Other,"Winona, MN",3869.0,516.0,20746.0
266,Reynolds American,"Food, Beverages & Tobacco",Tobacco,"Winston-Salem, NC",10675.0,3253.0,5650.0
678,Skyworks Solutions,Technology,Semiconductors and Other Electronic Components,"Woburn, MA",3258.0,798.0,6700.0
172,Health Net,Health Care,Health Care: Insurance and Managed Care,"Woodland Hills, CA",16244.0,186.0,8584.0
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290.0,5237.0,199000.0
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034.0,332.0,4800.0
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838.0,1.0,18204.0
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790.0,-57.0,24100.0
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142.0,98.0,7510.0